.media {
  display: flex;
  align-items: flex-start;
}
.media-figure {
  margin-right: 1em;
}
.media-figure  img{
  width: 15rem;
  height: auto;
  border-radius: 50%;
  @media only screen and (max-width : 768px) {
    width: 10rem;
  }
}
.media-body {
  flex: 1;
}
.author-box {
    background: #f7f7f7;
    padding: 20px;
    border-radius: 2px;
}

hr.separator {
   border: 0;
   height: 1px;
   background: #333;
   background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
